extends ./layout.jade

block content
  script(type="text/javascript").
    var data= !{JSON.stringify(data)};
  ul
    each val in data
      li
        a(href= 'index/function' + "?key1=" + val.key)= val.key
