doctype html
html
  head
    script(src="/js/jquery-2.1.1.min.js", type="text/javascript")
    block title
      title The Kodemon Project!
      link(rel='stylesheet', href='/css/default.css')
  body
    h1 Welcome to the Kodemon project!
    block content
    
    
