doctype html
html(lang="en")
  head
    title= "Kodemon project!"
    link(rel='stylesheet', href='/css/default.css')
  body
    h1= "Welcome to the Kodemon project!"

    div#container

    script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="/js/graph.js")
