extends ./layout.jade

block content
  script(type="text/javascript").
    var data= !{JSON.stringify(data)};

  ul
    each val in data
      li= 'Method: ' + val.key + ' Execution time: ' + val.execution_time + ' Time range ' + val.timestamp
  
  div#container

  script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
  script(src="http://code.highcharts.com/highcharts.js")
  script(src="/js/graph.js")
