doctype html
html(lang="en")
  head
    title= "Kodemon project!"
    link(rel='stylesheet', href='/css/default.css')
  body
    h1= "Welcome to the Kodemon project!"
    h2=data
    div#output
    script(type="text/javascript", src="/js/listcontent.js")
    script(type="text/javascript", src="/js/jquery-2.1.1.min.js")
    